* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playball', cursive;
    font-size: 105%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color:blue;
    height: 15vh;
    padding: 5px;
}

nav {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.logo {
    background-color: blue;
    height: 90%;
    width: 20%;
    margin: 10px 100px;
    padding: 10px;
}

.logo img {
    height: 100%;
    width: 100%;
}
.head{
  height: 90%;
  width: 15%;
  margin-top: 2%;
  margin-right: 180px;
  font-size: x-large;
  color: white;
}
.nav1 a:hover{
  background-color: white;
  font-size: x-large;
}
.nav1 {
    display: flex;
    align-items: center;
    background-color: blue;
    justify-content: space-around;
    width: 40%;
    height: 80%;
    margin: 10px 10px;
}
.drp{
    position: absolute;
    display: none;
}
.nav1 li:hover .drp{
    display: block;
}